<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
		<title>View Messages</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href={% static 'assets/css/main.css'%}/>
        <link rel="stylesheet" type="text/css" href={% static  'assets/css/font-awesome.min.css'%}/>
</head>
<body>
<header id="header" class="alt">
				<div class="logo"><a href="/uhome/">Deep Learning Based Attack on Social Authentication System</a></div>
				<a href="#menu">Menu</a>
			</header>
    <nav id="menu">
		<ul class="links">
            <li><a href="/uhome/">Home</a></li>
            <li><a href="/search/">Search Friend</a></li>
            <li><a href="/frnd/">Friend Request</a></li>
			<li><a href="/upload/">Send Message</a></li>
			<li><a href="/msg/">Messages</a>
            <li><a href="/logout/">Logout</a></li>
		</ul>
	</nav>
    <section class="banner full">
		<article>
			<img src="{% static 'slide04.jpg' %}"  alt="" />
			<div class="inner">
			<header>
				<h2><strong>Friends Messages</strong></h2>
                    <table>
                        <tr>
                            <th>
                                From
                            </th>
                            <th>
                                Message
                            </th>
                            <th>
                                Date
                            </th>
                        </tr>
                        {%  for r in result %}
                        <tr>
                            <td>
                                {{ r.0 }}
                            </td>
                            <td>
                                {{ r.2 }}
                            </td>
                            <td>
                                {{ r.3 }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
			</header>
			</div>
		</article>
	</section>
            <script src="{% static 'assets/js/jquery.min.js'%}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>