<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
		<title>User Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href={% static 'assets/css/main.css'%}/>
        <link rel="stylesheet" type="text/css" href={% static  'assets/css/font-awesome.min.css'%}/>
</head>
<body>
<header id="header" class="alt">
				<div class="logo"><a href="/uhome/">Deep Learning Based Attack on Social Authentication System</a></div>
				<a href="#menu">Menu</a>
			</header>
    <nav id="menu">
		<ul class="links">
            <li><a href="/uhome/">Home</a></li>
            <li><a href="/search/">Search Friend</a></li>
            <li><a href="/frnd/">Friend Request</a></li>
			<li><a href="/upload/">Send Message</a></li>
			<li><a href="/msg/">Messages</a>
            <li><a href="/post/">Post</a>
            <li><a href="/pview/">View Posts</a>
            <li><a href="/logout/">Logout</a></li>
		</ul>
	</nav>
            <section class="banner full">
				<article>
					<img src="{% static 'slide04.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							<h2 style="font-size: 60px;">Post</h2>
						</header>
                         <form name = "form" action = "/upload1/" enctype="multipart/form-data"
         method = "POST" >{% csrf_token %}

            <table>
            <tr>
                <td>
            <input name = "picture" class="form-control otp" type="file" >
                </td>
            </tr>
            <tr>
                <td>
			<input name="name" class="form-control fname" placeholder="Tagged" type="text">
                </td>
            </tr>
		<!-- form-group// -->

            <tr>
                <td>
			<input type="submit" value="Upload"></input>
                </td>
            </tr>
                </table>
        </form><!-- form-group// -->
					</div>
				</article>
			</section>
            <script src="{% static 'assets/js/jquery.min.js'%}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>


</body>
</html>